{% extends 'base.html.twig' %}

{% block nav %}
        
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav id="content" class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{{ path('post_index1') }}">Article</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('post_about') }}">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('post_new') }}">CREATE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('post_index') }}">SHOW</a>
      </li>
    </ul>
    <div class="navbar-form ml-auto">
      
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
         Bonjour {{ app.user.username }}
      {% endif %}
        <a href="http://localhost/projetaston/web/app_dev.php/login"><button type="button" class="btn btn-secondary">Log In</button></a>
        <a href="http://localhost/projetaston/web/app_dev.php/logout"><button type="button" class="btn btn-secondary">Log Out</button></a>
    </div>
  </div>

</nav>
            </div>
        </div>
   

        {% endblock %}

{% block main %}
       <div id="content" class="row">
        <div  class="col-md-6">
       <h3>Welcome to </h3>
              <h2>ONLINE ACADEMY</h2>
            <p>We are dedicated to enabling aspiring students to make informed decisions on their path to academic success. We help students to recognize their individual needs, and provide them with the information they require to match themselves with an instruction that will polish their skills and help them grow as professionals.</p>
        </div>
         <div class="col-md-6">
            <center><h1>Log In | <a href="#">Register</a></h1></center>
            <div>
            <form class="log" method="POST" action="#">
              <label for="uname" style="padding-left: 130px" >Identifiant
              </label><br>
              <center><input type="text" id="uname" name="username" placeholder="Identifiant"></center>

              <label for="pword" style="padding-left: 130px">Mot de Passe
              </label>
              <br>
              <center><input type="text" id="pword" name="password" placeholder="Mot de Passe"></center>
              <a href="#" style="padding-left: 130px">Mot de passe oublié?</a>
              <br><br>
              <center><input type="submit" value="Log In"></center>
            </form></div>
        </div>
       </div>
{% endblock %}