{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/framework/css/ajouterposte.css') }}" type="text/css" />
	{% endblock %}

{% block body %}
    <h1 id="text">Creation du poste</h1>
<div id="form">
		<img id="image1" src="{{ asset('bundles/framework/image/poste.png') }}" alt="" />
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input id="input" type="submit" value="Create" />
    {{ form_end(form) }}
</div>
	

    
{% endblock %}



