{% extends 'base.html.twig' %}

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('bundles/framework/css/etudiantListe.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('bundles/framework/css/bootstrap.min.css') }}" type="text/css" />
			{% endblock %}

	
{% block body %}
    <h1 id="text">Etudiants liste</h1>

    <table class="table table-info table-bordered" style=" border-collapse: separate;border-spacing: 20px 32px;">
        <thead>
            <tr class="table-warning">
                <th>Id</th>
                <th>Name</th>
                <th>Firstname</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td style="background-color:lightblue"><a href="{{ path('etudiants_show', { 'id': etudiant.id }) }}">{{ etudiant.id }}</a></td>
                <td style="background-color:LightSeaGreen ">{{ etudiant.name }}</td>
                <td style="background-color:lightblue">{{ etudiant.firstname }}</td>
                <td style="background-color:LightSeaGreen">{{ etudiant.email }}</td>
                <td style="background-color:lightblue">
                    <ul style="list-style-type: none;">
                        <li>
                            <a href="{{ path('etudiants_show', { 'id': etudiant.id }) }}"><img style="height: 40px;"  id='image' src="{{ asset('bundles/framework/image/oeil.png') }}"></a>
                        </li>
                        <li>
                            <a href="{{ path('etudiants_edit', { 'id': etudiant.id }) }}"><img style="height: 40px;"  id='image' src="{{ asset('bundles/framework/image/edit.png') }}"></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	{% for flash in app.session.flashBag.get('notice') %}
<div id="notice" class="notice alert alert-notice">
{{ flash }}
</div>
{% endfor %}
{% endblock %}

