{% extends 'base.html.twig' %}

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('bundles/framework/css/etudiantListe.css') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('bundles/framework/css/bootstrap.min.css') }}" type="text/css" />
			{% endblock %}

	
{% block body %}
    <h1 id="text">Etudiants liste</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Firstname</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr>
                <td><a href="{{ path('etudiants_show', { 'id': etudiant.id }) }}">{{ etudiant.id }}</a></td>
                <td>{{ etudiant.name }}</td>
                <td>{{ etudiant.firstname }}</td>
                <td>{{ etudiant.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('etudiants_show', { 'id': etudiant.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('etudiants_edit', { 'id': etudiant.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

