{% extends 'base.html.twig' %}
{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('bundles/framework/css/ajoutetudiants.cs') }}" type="text/css" />
			<link rel="stylesheet" href="{{ asset('bundles/framework/css/bootstrap.min.css') }}" type="text/css" />
			{% endblock %}

{% block body %}
    <h1 id="text">Creation de l'etudiant</h1>
<div id="form">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
</div>

    
{% endblock %}


