{% extends 'baseEtudiants.html.twig' %}

{% block body %}
  <h1>Etudiant</h1>

  <table class="table">
    <tbody>
      <tr>
        <th>Id</th>
        <td>{{ etudiant.id }}</td>
      </tr>
      <tr>
        <th>Nom</th>
        <td>{{ etudiant.nom }}</td>
      </tr>
      <tr>
        <th>Prenom</th>
        <td>{{ etudiant.prenom }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ etudiant.email }}</td>
      </tr>
      <tr>
        <th>Titre</th>
        <td>{{ etudiant.titre }}</td>
      </tr>
    </tbody>
  </table>
  <button type="button">
    <a href="{{ path('etudiants_edit', { 'id': etudiant.id }) }}">Edit</a>
  </button>
  {{ form_start(delete_form) }}
  <input type="submit" value="Delete">
  {{ form_end(delete_form) }}

{% endblock %}